/* Mobile */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}
  
  
  header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgreen;
    position: relative;
    height: 70px;
  }
  
  .logo {
    color: black;
    white-space: nowrap;
  }
  
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: lightgreen;
    gap: 0;
    overflow: hidden;
    display: none;
  }
  
  nav ul li {
    list-style-type: none;
    font-size: large;
    padding: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 10px;
  }
  
  .menu-icon {
    display: block;
    color: black;
    font-size: 30px;
  }
  
  .cancel-icon:before {
    content: "\f00d"; 
  }
  
  #menulist {
    transition: all 0.5s;
  }

a:hover {
    color: forestgreen;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}



.fig-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

figure > img {
    width: 320px;
    height: 200px;
}

figure {
    display: block;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
}

main > h1 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto; /* Center the main element */
}

footer {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

.last-modified {
    color: #ffd700;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

